In [56]:
from impala.dbapi import connect
from impala.util import as_pandas
import pandas as pd

In [220]:
conn = connect(host='133.186.168.6', port=21050)

cursor = conn.cursor()

In [226]:
cursor.execute("SELECT * FROM TEST LIMIT 1")

In [227]:
first_row = as_pandas(cursor)

In [228]:
first_row

,id,item_id,stock_id,stock_amount,add_price,collect_day,reg_id,reg_dt
0,1,1,26824625001,931,0,20170801,SERVER,2017-08-01 16:04:32

In [237]:
cursor.execute("SELECT * FROM TEST WHERE item_id = '106'")
as_pandas(cursor)

,id,item_id,stock_id,stock_amount,add_price,collect_day,reg_id,reg_dt
0,3386673,106,25666076001,97,0,20170802,SERVER,2017-08-02 22:13:16
1,3386674,106,25666076002,83,0,20170802,SERVER,2017-08-02 22:13:16
2,3386675,106,25666076003,100,0,20170802,SERVER,2017-08-02 22:13:16
3,3386676,106,25666076004,73,0,20170802,SERVER,2017-08-02 22:13:16
4,3386677,106,25666076005,97,0,20170802,SERVER,2017-08-02 22:13:16
5,6220450,106,25666076001,96,0,20170803,SERVER,2017-08-03 16:30:38
6,6220451,106,25666076002,83,0,20170803,SERVER,2017-08-03 16:30:38
7,6220452,106,25666076003,85,0,20170803,SERVER,2017-08-03 16:30:38
8,6220453,106,25666076004,60,0,20170803,SERVER,2017-08-03 16:30:38
9,6220454,106,25666076005,87,0,20170803,SERVER,2017-08-03 16:30:38
10,6235032,106,25666076001,96,0,20170803,SERVER,2017-08-03 16:33:32
11,6235033,106,25666076002,83,0,20170803,SERVER,2017-08-03 16:33:32
12,6235034,106,25666076003,85,0,20170803,SERVER,2017-08-03 16:33:32
13,6235035,106,25666076004,60,0,20170803,SERVER,2017-08-03 16:33:32
14,6235036,106,25666076005,87,0,20170803,SERVER,2017-08-03 16:33:32
15,6246208,106,25666076001,96,0,20170803,SERVER,2017-08-03 16:33:48
16,6246209,106,25666076002,83,0,20170803,SERVER,2017-08-03 16:33:48
17,6246210,106,25666076003,85,0,20170803,SERVER,2017-08-03 16:33:48
18,6246211,106,25666076004,60,0,20170803,SERVER,2017-08-03 16:33:48
19,6246212,106,25666076005,87,0,20170803,SERVER,2017-08-03 16:33:48
20,6465671,106,25666076001,96,0,20170803,SERVER,2017-08-03 17:05:06
21,6465672,106,25666076002,83,0,20170803,SERVER,2017-08-03 17:05:06
22,6465673,106,25666076003,84,0,20170803,SERVER,2017-08-03 17:05:06
23,6465674,106,25666076004,60,0,20170803,SERVER,2017-08-03 17:05:06
24,6465675,106,25666076005,86,0,20170803,SERVER,2017-08-03 17:05:06
25,6468370,106,25666076001,96,0,20170803,SERVER,2017-08-03 17:05:17
26,6468371,106,25666076002,83,0,20170803,SERVER,2017-08-03 17:05:17
27,6468372,106,25666076003,84,0,20170803,SERVER,2017-08-03 17:05:17
28,6468373,106,25666076004,60,0,20170803,SERVER,2017-08-03 17:05:17
29,6468374,106,25666076005,86,0,20170803,SERVER,2017-08-03 17:05:17
...,...,...,...,...,...,...,...,...
45,6549398,106,25666076001,96,0,20170803,SERVER,2017-08-03 17:08:16
46,6549399,106,25666076002,83,0,20170803,SERVER,2017-08-03 17:08:16
47,6549400,106,25666076003,84,0,20170803,SERVER,2017-08-03 17:08:16
48,6549401,106,25666076004,59,0,20170803,SERVER,2017-08-03 17:08:16
49,6549402,106,25666076005,85,0,20170803,SERVER,2017-08-03 17:08:16
50,6820136,106,25666076001,96,0,20170803,SERVER,2017-08-03 17:40:38
51,6820137,106,25666076002,83,0,20170803,SERVER,2017-08-03 17:40:38
52,6820141,106,25666076003,84,0,20170803,SERVER,2017-08-03 17:40:38
53,6820142,106,25666076004,59,0,20170803,SERVER,2017-08-03 17:40:38
54,6820146,106,25666076005,85,0,20170803,SERVER,2017-08-03 17:40:38
55,7159777,106,25666076001,96,0,20170803,SERVER,2017-08-03 18:27:16
56,7159778,106,25666076002,82,0,20170803,SERVER,2017-08-03 18:27:16
57,7159779,106,25666076003,83,0,20170803,SERVER,2017-08-03 18:27:16
58,7159780,106,25666076004,59,0,20170803,SERVER,2017-08-03 18:27:16
59,7159781,106,25666076005,85,0,20170803,SERVER,2017-08-03 18:27:16
60,934,106,25666076001,97,0,20170801,SERVER,2017-08-01 16:04:33
61,935,106,25666076002,87,0,20170801,SERVER,2017-08-01 16:04:33
62,936,106,25666076003,113,0,20170801,SERVER,2017-08-01 16:04:33
63,937,106,25666076004,85,0,20170801,SERVER,2017-08-01 16:04:33
64,938,106,25666076005,106,0,20170801,SERVER,2017-08-01 16:04:33
65,657030,106,25666076001,97,0,20170801,SERVER,2017-08-01 22:21:17
66,657031,106,25666076002,87,0,20170801,SERVER,2017-08-01 22:21:17
67,657032,106,25666076003,113,0,20170801,SERVER,2017-08-01 22:21:17
68,657033,106,25666076004,81,0,20170801,SERVER,2017-08-01 22:21:17
69,657034,106,25666076005,105,0,20170801,SERVER,2017-08-01 22:21:17
70,5119736,106,25666076001,96,0,20170802,SERVER,2017-08-03 09:32:17
71,5119737,106,25666076002,83,0,20170802,SERVER,2017-08-03 09:32:17
72,5119738,106,25666076003,93,0,20170802,SERVER,2017-08-03 09:32:17
73,5119739,106,25666076004,66,0,20170802,SERVER,2017-08-03 09:32:17
74,5119740,106,25666076005,92,0,20170802,SERVER,2017-08-03 09:32:17

In [188]:
# TMP

In [210]:
# cursor.execute("SELECT * FROM (SELECT *, to_utc_timestamp(reg_dt, 'seoul') as reg_dt_convet FROM MWS_COLT_ITEM_IVT) AS A WHERE reg_dt_convet = '2017-10-10' ")
# TMP = as_pandas(cursor)

In [211]:
# cursor.execute("SELECT item_id, COUNT(*) FROM MWS_COLT_ITEM_IVT WHERE reg_dt > '2017-08-10' AND reg_dt < '2017-08-13' GROUP BY item_id")

In [212]:
# cursor.execute("SELECT * FROM MWS_COLT_ITEM_IVT WHERE reg_dt > '2017-08-10' AND reg_dt < '2017-08-15'")

In [213]:
# cursor.execute("SELECT * FROM MWS_COLT_ITEM_IVT WHERE item_id = '100'")

In [214]:
# cursor.execute("SELECT item_id, COUNT(*) FROM TEST WHERE reg_dt > '2017-08-01' group by item_id")

In [207]:
TMP2 = as_pandas(cursor)

In [ ]:
first_row = as_pandas(cursor)

In [103]:
as_pandas(cursor)afirst_row = as_pandas(cursor)

KeyboardInterrupt

In [92]:
results = cursor.fetchmany(100000)
tmp = pd.DataFrame(results)

In [94]:
tmp

                    0
0 2017-08-01 23:04:32
1 2017-08-01 23:04:32
2 2017-08-01 23:04:32

In [93]:
tmp.columns = first_row.columns

ValueError: Length mismatch: Expected axis has 1 elements, new values have 13 elements

In [88]:
tmp

,id,item_id,stock_id,color_option,size_option,style_option,gift_option,option,stock_amount,add_price,collect_day,reg_id,reg_dt
0,968933301,3881395,-8581354110563795540,버튼다운,육각,None,None,삼각,100,0,20171001,SERVER,2017-10-01 06:08:52
1,968933302,3881395,6134478394790451738,버튼다운,육각,None,None,삼각,100,0,20171001,SERVER,2017-10-01 06:08:52
2,968933303,3881395,4560351162133896860,버튼다운,육각,None,None,사각,100,0,20171001,SERVER,2017-10-01 06:08:52
3,968933304,3881395,-8581372049532841972,버튼다운,육각,None,None,사각,100,0,20171001,SERVER,2017-10-01 06:08:52
4,968933305,3881395,-8581372049042084452,버튼다운,육각,None,None,사각,100,0,20171001,SERVER,2017-10-01 06:08:52
5,968933306,3881395,-7483549990852597238,버튼다운,육각,None,None,사각,100,0,20171001,SERVER,2017-10-01 06:08:52
6,968933307,3881395,-8583978406336128517,버튼다운,육각,None,None,라운드,100,0,20171001,SERVER,2017-10-01 06:08:52
7,968933308,3881395,7526838416228133483,버튼다운,육각,None,None,라운드,100,0,20171001,SERVER,2017-10-01 06:08:52
8,968933309,3881395,7526838416718891003,버튼다운,육각,None,None,라운드,100,0,20171001,SERVER,2017-10-01 06:08:52
9,968933310,3881395,341074501040291433,버튼다운,육각,None,None,라운드,100,0,20171001,SERVER,2017-10-01 06:08:52
10,968933311,3881395,-8449141070503428696,버튼다운,독일식,None,None,삼각,100,0,20171001,SERVER,2017-10-01 06:08:52
11,968933312,3881395,5286545577812884248,버튼다운,독일식,None,None,삼각,100,0,20171001,SERVER,2017-10-01 06:08:52
12,968933313,3881395,5286545578303641768,버튼다운,독일식,None,None,삼각,100,0,20171001,SERVER,2017-10-01 06:08:52
13,968933314,3881395,-2394048813743301354,버튼다운,독일식,None,None,삼각,100,0,20171001,SERVER,2017-10-01 06:08:52
14,968933315,3881395,-8449141140302955112,버튼다운,독일식,None,None,사각,100,0,20171001,SERVER,2017-10-01 06:08:52
15,968933316,3881395,5286527639334595336,버튼다운,독일식,None,None,사각,100,0,20171001,SERVER,2017-10-01 06:08:52
16,968933317,3881395,5286527639825352856,버튼다운,독일식,None,None,사각,100,0,20171001,SERVER,2017-10-01 06:08:52
17,968933318,3881395,2434666874323201286,버튼다운,독일식,None,None,사각,100,0,20171001,SERVER,2017-10-01 06:08:52
18,968933319,3881395,5283921282531308791,버튼다운,독일식,None,None,라운드,100,0,20171001,SERVER,2017-10-01 06:08:52
19,968933320,3881395,-7091291844493491865,버튼다운,독일식,None,None,라운드,100,0,20171001,SERVER,2017-10-01 06:08:52
20,968933321,3881395,-7091291844002734345,버튼다운,독일식,None,None,라운드,100,0,20171001,SERVER,2017-10-01 06:08:52
21,968933322,3881395,3672126679302389093,버튼다운,독일식,None,None,라운드,100,0,20171001,SERVER,2017-10-01 06:08:52
22,968933323,3881395,1602367335638195490,버튼다운,굴림더블,None,None,삼각,100,0,20171001,SERVER,2017-10-01 06:08:52
23,968933324,3881395,5980035636873073810,버튼다운,굴림더블,None,None,삼각,100,0,20171001,SERVER,2017-10-01 06:08:52
24,968933325,3881395,5980035637363831330,버튼다운,굴림더블,None,None,삼각,100,0,20171001,SERVER,2017-10-01 06:08:52
25,968933326,3881395,-7803841962562448752,버튼다운,굴림더블,None,None,삼각,100,0,20171001,SERVER,2017-10-01 06:08:52
26,968933327,3881395,1602367265838669074,버튼다운,굴림더블,None,None,사각,100,0,20171001,SERVER,2017-10-01 06:08:52
27,968933328,3881395,5980017698394784898,버튼다운,굴림더블,None,None,사각,100,0,20171001,SERVER,2017-10-01 06:08:52
28,968933329,3881395,5980017698885542418,버튼다운,굴림더블,None,None,사각,100,0,20171001,SERVER,2017-10-01 06:08:52
29,968933330,3881395,-2975126274495946112,버튼다운,굴림더블,None,None,사각,100,0,20171001,SERVER,2017-10-01 06:08:52
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,1201191325,5127694,3184535,,070,None,None,,1,0,20171018,SERVER,2017-10-18 18:31:27
99971,1201191326,612822,-4373311364652560631,블랙,FREE,None,None,,999,0,20171018,SERVER,2017-10-18 18:31:27
99972,1201191327,612824,6669412026772223065,라이트카키,55,None,None,,82,0,20171018,SERVER,2017-10-18 18:31:27
99973,1201191328,612824,6669412026772223323,라이트카키,66,None,None,,61,0,20171018,SERVER,2017-10-18 18:31:27
99974,1201191329,2651438,24298113001,,,None,None,레드/Free,300,0,20171018,SERVER,2017-10-18 18:31:27
99975,1201191330,612824,6669412026772223581,라이트카키,77,None,None,,18,0,20171018,SERVER,2017-10-18 18:31:27
99976,1201191331,612825,1509207144693778649,,L,None,None,,100,0,20171018,SERVER,2017-10-18 18:31:27
99977,1201191332,2651438,24298113002,,,None,None,다크브라운/free,300,0,20171018,SERVER,2017-10-18 18:31:27
99978,1201191333,613666,25975912012,12호,반지,None,None,12호/반지,999,0,20171018,SERVER,2017-10-18 18:31:27
99979,1201191334,2651438,24298113003,,,None,None,브라운/FREE,300,0,20171018,SERVER,2017-10-18 18:31:27
99980,1201191335,2651438,24298113004,,,None,None,블랙/FREE,300,0,20171018,SERVER,2017-10-18 18:31:27
99981,1201191336,2800263,6430234569205810098,타입,Type_01,None,None,타입/Type_01,999,0,20171018,SERVER,2017-10-18 18:31:27
99982,1201191337,2800263,6430234569205810099,타입,Type_02,None,None,타입/Type_02,999,0,20171018,SERVER,2017-10-18 18:31:27
99983,1201191338,2800263,6430234569205810100,타입,Type_03,None,None,타입/Type_03,999,0,20171018,SERVER,2017-10-18 18:31:27
99984,1201191339,242886,3184535,,070,None,None,,2,0,20171018,SERVER,2017-10-18 18:31:27
99985,1201191340,242886,3184538,,073,None,None,,1,0,20171018,SERVER,2017-10-18 18:31:27
99986,1201191341,612825,484610638400532017,,XL,None,None,,100,0,20171018,SERVER,2017-10-18 18:31:27
99987,1201191342,612825,1509165613629728565,,L,None,None,,100,0,20171018,SERVER,2017-10-18 18:31:27
99988,1201191343,612825,473937154939660429,,XL,None,None,,100,0,20171018,SERVER,2017-10-18 18:31:27
99989,1201191344,612825,1509179990017823838,,XL,None,None,,100,0,20171018,SERVER,2017-10-18 18:31:27
99990,1201191345,612825,-5520973133421469327,,L,None,None,,100,0,20171018,SERVER,2017-10-18 18:31:27
99991,1201191346,613666,25975912013,13호,반지,None,None,13호/반지,999,0,20171018,SERVER,2017-10-18 18:31:27
99992,1201191347,612825,1509198386317860553,,XL,None,None,,99,0,20171018,SERVER,2017-10-18 18:31:27
99993,1201191348,612825,1509178439486891565,,L,None,None,,100,0,20171018,SERVER,2017-10-18 18:31:27
99994,1201191349,612825,477233400230551429,,XL,None,None,,100,0,20171018,SERVER,2017-10-18 18:31:27
99995,1201191350,612825,-5520973153858020662,,L,None,None,,100,0,20171018,SERVER,2017-10-18 18:31:27
99996,1201191351,612825,1509193134124167458,,XL,None,None,,100,0,20171018,SERVER,2017-10-18 18:31:27
99997,1201191352,612825,479894134154770973,,L,None,None,,100,0,20171018,SERVER,2017-10-18 18:31:27
99998,1201191353,613666,25975912014,14호,반지,None,None,14호/반지,999,0,20171018,SERVER,2017-10-18 18:31:27
99999,1201191354,612825,-5794416038190718091,,XL,None,None,,100,0,20171018,SERVER,2017-10-18 18:31:27

In [51]:
DT = as_pandas(results)

AttributeError: 'list' object has no attribute 'description'